[Unit]
Description=Aquarite RS daemon
ConditionPathExists=/etc/aquarited.conf
After=network.target multi-user.target
Requires=network.target

[Service]
Type=forking
#RemainAfterExit=no
#StartLimitInterval=0
PIDFile=/run/aquarited.pid 
EnvironmentFile=/etc/default/aquarited
ExecStartPre=/usr/local/bin/aquarited_cache.sh
ExecStart=/usr/local/bin/aquarited $OPTS
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPost=/usr/local/bin/aquarited_cache.sh
#Restart=on-failure
KillMode=process
RestartSec=2

[Install]
WantedBy=multi-user.target